<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="GameStoreDbConnection"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\GameStoreDb.mdf;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />

		<authentication mode="Forms">
			<forms loginUrl="Login.aspx" timeout="30" />
		</authentication>

		<!--
		<authorization>
		  <deny users="?" />
		</authorization>
		-->

		<sessionState timeout="30" />

		<pages>
			<namespaces>
				<!-- <add namespace="System.Web.Optimization" /> -->
				<add namespace="System.Web.UI.WebControls" />
			</namespaces>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web" />
			</controls>
		</pages>
	</system.web>

	<system.webServer>
		<staticContent>
			<remove fileExtension=".jpg"/>
			<mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
			<remove fileExtension=".jpeg"/>
			<mimeMap fileExtension=".jpeg" mimeType="image/jpeg" />
			<remove fileExtension=".png"/>
			<mimeMap fileExtension=".png" mimeType="image/png" />
		</staticContent>
	</system.webServer>
</configuration>